{% extends('base.html.twig') %}

{% block title %}
    <title>Listado de Metodos de Pago!</title>
{% endblock %}

{% block body %} 
    <h1>Metodos de Pagos</h1>
    <table class = "table table-hover">
    <thead>
        <tr>
            <td>#</td>  
            <td>Num Cliente</td>
            <td>Num Confirmacion</td>
            <td>Fecha Pago</td>
            <td>Monto</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% for payments in lista %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{payments.customernumber}}</td>
            <td>{{payments.checknumber}}</td>
            <td>{{payments.paymentdate.format('d/m/Y')}}</td>
            <td>{{payments.amount}}</td>   
            <td>
                <button class="button button-primary">Actualizar</button>
                <button class="button button-danger">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </tbody> 
    </table>
{% endblock %}